
<% @listings.each do |listing| %>
	<%= listing["data"]["author"] %> wrote <a href='<%= listing["data"]["url"]%>'> <%= listing["data"]["title"] %> </a>
	<br>
	It got <%= listing["data"]["ups"] %> upvotes
	<br><br>
<% end %>